@import './config.scss';

.back-to-top {
    color: $neutral-color;
    background-color: $main-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 150px;
    right: 16px;
    opacity: 0; // Bouton invisible par défaut
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    @include for-smartphones {
        display: none;
    }

    &:hover {
        color: $neutral-color;
        background-color: $accent-color;
    }

    &:active {
        transform: scale(0.9);
    }

    &--visible {
        opacity: 1; // Devient visible lorsqu'on scroll
        visibility: visible;
    }
}