@import './config.scss';

.cta-btn {
    color: $neutral-color;
    background-color: $main-color;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: $accent-color;
        // transform: scale(1.05);
        animation: pulse 1s infinite ease-in-out alternate;
    }
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }
