// Polices :
@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Lexend Deca';
    src: url(../assets/fonts/LexendDeca-Regular.ttf);
}

// Variables

    // Thème

$main-color: #536F52; // Vert forêt
$neutral-color: #f0ebe3; // Blanc sable
$accent-color:#a56c4f; // Terre cuite foncée

    // Polices
    
$main-font: 'Roboto';
$title-font: 'Lexend Deca';

// Mixins

@mixin hover-card {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

@mixin form-field {
    color: adjust-color($color: $accent-color,  $lightness: -15%);
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;

    &::placeholder {
        color : adjust-color($color: $accent-color, $lightness: 30%);
    }
}

@mixin button($color, $background-color) {
    color: $color;
    background-color: $background-color;
    @include flex-row(space-between);
    gap: 0.5rem;
    padding: 0.5em 1em;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        color: $neutral-color;
        background-color: $accent-color;
    }
}

    // Media queries

@mixin for-smartphones {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin for-small-tablets {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablets {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin for-desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

    // Mise en page

@mixin main-layout {
    max-width: 1440px;
    padding-right: 100px;
    padding-left: 100px;
    margin: auto;

    @include for-desktop {
        padding-right: 7%; // 100px
        padding-left: 7%; // 100px
    }

    @include for-smartphones {
        padding-right: 5.3%; // 20px
        padding-left: 5.3%; // 20px
    }
}
    // Disposition

@mixin flex-column($horizontal-align : center) {
    display: flex;
    flex-direction: column;
    align-items: $horizontal-align;
}

@mixin flex-row($horizontal-align : flex-start) {
    display: flex;
    align-items: center;
    justify-content: $horizontal-align;
}

@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

// Animations

@mixin slideIn {
    @keyframes slideIn {
        from { transform: translateY(100%); }
        to { transform: translateY(0); }
    }
    animation: slideIn 0.5s forwards;
}

@mixin slideOut {
    @keyframes slideOut {
        from { transform: translateY(0); }
        to { transform: translateY(-150%); }
    }
    animation: slideOut 0.5s forwards;
}

@mixin fadeIn {
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    animation: fadeIn 0.5s forwards;
}

@mixin fadeOut {
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
    animation: fadeIn 0.5s forwards;
}

@mixin pulse {
    @keyframes pulse {
        from { transform: scale(1); }
        to { transform: scale(1.1); }
      }
    animation: pulse 1s infinite ease-in-out alternate;
}