@import './config.scss';

.contact-form {
    @include flex-column;
    align-items: center;
    min-width: calc(70vh);
    gap: 1rem;

    .display-inline {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .width-50 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__field {
        @include form-field;
        width: 100%;
        
        &::placeholder {
            color: lighten($accent-color,15%); // MIXIN
        }
    
        &--message {
            overflow: scroll;
        }
    }

    &__submit-btn {
        color: $neutral-color;
        background-color: $main-color !important;
        border-radius: 5px;
        padding: 8px 16px;

        &:disabled {
            color: grey;
            background-color: lighten($accent-color, 35%) !important;
        }
    }
}