@import './config.scss';

.error {
    @include flex-column;
    width: 100%;
    min-height: 50vh;

    div {
        @include flex-column;
        justify-content: center;
        flex-grow: 1;
    }

    &__title {
        font-size: 3rem;
        font-family: 'Lexend Deca';
        color: $accent-color;
        margin-bottom: 1.25rem;
    }

    p {
        margin-bottom: 1.25rem;
    }
}