.filter-bar {
    position: relative;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    &__btn {
        position: relative;
        padding: 0.3rem 0.5rem;
        border-radius: 10px;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.05);
            color: $neutral-color;
            background-color: $accent-color;
        }

        &:active {
            transform: scale(1);
        }

        &--active {
            color: $neutral-color;
            background-color: $main-color;
        }

    }
}