.filter-bar {
    @include flex-row(center);
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;

    &__btn {
        @include button(inherit, transparent);

        &:active {
            transform: scale(1);
        }

        &--active {
            color: $neutral-color;
            background-color: $main-color;
        }

    }
}