.filter-bar {
    @include centered-row;
    gap: 1.5rem;

    &__btn {
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.05);
            color: $neutral-color;
            background-color: $accent-color;
        }

        &:active {
            transform: scale(1);
        }

        &--active {
            color: $neutral-color;
            background-color: $main-color;
        }

    }
}