@import './config.scss';

.footer {
    @include flex-row(space-between);
    width: 100%;
    color: $neutral-color;
    background-color: darken($main-color, 20%);
    font-size: 1.5rem;
    gap: 20px;
    padding: 2.5rem 7rem;

    @include for-tablets {
        font-size: 1.13rem;
        padding: 2rem;
    }

    @include for-small-tablets {
        @include flex-column;
        font-size: 0.75rem;
        padding: 1rem;
    }

    &__icons {
        display: flex;
        gap: 1rem;
    }

    &__logo {
        height: 40px;
        transition: color 0.2s;

        &:hover {
            color: $accent-color;
        }
    }
}