@import './config.scss';

.footer {
    @include space-between-row;
    width: 100%;
    color: $neutral-color;
    background-color: darken($main-color, 20%);
    font-size: 1.5rem;
    gap: 20px;
    padding: 40px 120px 20px 120px;

    @include for-tablets {
        font-size: 1.13rem;
    }

    @include for-smartphones {
        font-size: 0.75rem;
        padding: 50px 120px 50px 120px;
    }

    &__icons {
        display: flex;
        gap: 1rem;
    }

    &__logo {
        height: 40px;
        transition: color 0.2s;

        &:hover {
            color: $accent-color;
        }
    }
}