
@import './config.scss';
@import './layout.scss';
@import './header.scss';
@import './footer.scss';
@import './section.scss';
@import './projectCards.scss';
@import './project.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color;
    font-family: $main-font;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $main-color;
    }
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}