
@import './config.scss';
@import './layout.scss';
@import './header.scss';
@import './footer.scss';
@import './backToTopBtn.scss';
@import './errorPage.scss';
@import './modal.scss';
@import './contactForm.scss';
@import './confirmation.scss';
@import './homePage.scss';
@import './filters.scss';
@import './projectCards.scss';
@import './projectPage.scss';
@import './collapse.scss';
@import './skillcard.scss';
@import './trainingCard.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    font-family: $main-font;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $accent-color;
    }
}

li {
    list-style: none;
}

fieldset {
    border: none;
}

input, textarea {
    font-family: inherit;
    border: none;
    resize: none;
}

button, input[type="submit"] {
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.hidden {
    display: none;
}

.flex-row {
    @include flex-row;
}

.flex-column {
    @include flex-column;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}