
@import './config.scss';
@import './layout.scss';
@import './header.scss';
@import './footer.scss';

// @font-face {
//     font-family: 'Montserrat';
//     src: url(../../assets/fonts/Montserrat-Regular.ttf);
// }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    // font-family: 'Montserrat'
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;

    &:hover {
        color: $main-color;
    }
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

section {
    height: 700px;
}