@import './config.scss';

.header {
    background-color: white;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 2000;

    .layout {
        @include main-layout;
    }

    @include for-smartphones {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    &__navbar {
        color: darken($main-color, 20%);
        font-size: 1.5rem;

        @include for-tablets {
            font-size: 1.25rem;
        }

        @include for-smartphones {
            font-size: 0.75rem;
        }

        .navlinks {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            gap: 3.5rem;

            @include for-tablets {
                gap: 2.6rem;
            }

            @include for-smartphones {
                gap: 1.6rem;      
            }

            &__link--active {
                text-decoration: underline;
            }
        }
    }
}