@import './config.scss';

.header {
    @include main-layout;
    background-color: white;
    width: 100%;
    padding-block: 2rem;
    position: sticky;
    top: 0;
    z-index: 2000;

    @include for-smartphones {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    &__navbar {
        color: darken($main-color, 20%);
        font-size: 1.5rem;
        // display: none;

        @include for-tablets {
            font-size: 1.25rem;
        }

        @include for-smartphones {
            font-size: 0.75rem;
        }

        .navlinks {
            @include row-display;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 3.5rem;

            @include for-tablets {
                gap: 2.6rem;
            }

            @include for-smartphones {
                gap: 1.6rem;      
            }
        }
    }

    &__hamburger-menu {
        display: flex;
        justify-content: flex-end;

        .icon {
            font-size: 1.5rem;
            padding: 0.8rem;
        }
    }
}