@import './config.scss';

.homepage-section {
    @include main-layout;
    width: 90%;
    padding-block: 2rem;
    margin-bottom: 1rem;
    border-radius: 15px;

    @include for-small-tablets {
        width: 100%;
        border-radius:0%;
    }

    &__title {
        color: $accent-color;
        font-family: $title-font;
        font-size: 2em;
        text-align: center;
        margin-bottom: 2rem;

        @include for-small-tablets {
            font-size: 1.7em;
        }

        &--about {
            text-align: left;

            @include for-tablets {
                text-align: center;
            }
        }
    }
}

.about {
    @include flex-row(center);
    min-height: calc(88vh);
    background-color: $neutral-color;
    gap: 2rem;

    @include for-tablets {
        @include flex-column;
    }

    .max-width-80 {
        max-width: 60%;

        @include for-tablets {
            max-width: 100%;
        }        
    }

    &__avatar {
        width: 40%;
        max-width: 340px;
        min-width: 200px;
    }

    &__introduction {
        @include flex-column(flex-start);
        gap: 0.8rem;
        margin-bottom: 2rem;

        p {
            font-size: 1em;
            text-align: justify;

            @include for-small-tablets {
                font-size: 1em;
            }
        }

        em {
            font-size: 1em;
            font-style: normal;
            color: $main-color;
            font-weight: 600;
        }
    }

    &__call-to-action {
        font-size: 1em;
        @include flex-column;

        p {
            margin-bottom: 0.5rem;
        }
    }
}

#portfolio {
    background-color: $neutral-color;
}

#training, #contact {
    @include flex-column;
}

.cta-btn {
    @include button($neutral-color, $main-color);

    &:hover {
        @include pulse;
    }
}