@import './config.scss';

.projectpage {
    @include main-layout;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;

    .nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        &__btn {
            padding: 7px 11px;
            border-radius: 4px;

            // &:hover {
            //     background-color: grey;
            // }

            // &:active {
            //     background-color: green;
            // }
        }

        &__icon {
            padding: 0 1rem 0 1rem;
        }
    }

    .project {    
        &__title {
            margin-bottom: 30px;
        }
    
        &__cover {
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin-bottom: 30px;
        }
    
        &__description {
            margin-bottom: 1rem;
        }
    
        &__tags {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    
        &__repo {
            // border: 1px solid green;
            // background-color: green;
            padding: 0.5rem;
            border-radius: 25px;
            margin-bottom: 1rem;
        }
    }
}