@import './config.scss';

.homepage-section {
    width: 100%;
    margin-bottom: 30px;

    &__title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
    }
}

// #portfolio {
//     background-color: green;
// }


.about {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__avatar {
        width: 340px;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}