@import './config.scss';

.training-card {
    width: 100%;
    @include flex-column(flex-start);
    border: 3px adjust-color($color: $main-color, $lightness: 30%) solid;
    border-radius: 15px;
    padding: 1.25rem;
    margin-bottom: 1rem;

    &__title {
        font-size: 1.3rem;
        color: $main-color;

        @include for-small-tablets {
            font-size: 1rem;
        }
    }
    
    &__subtitle {
        @include flex-row;
        flex-wrap: wrap;
        gap: 0.5rem;
        color: #757575;
        margin-bottom: 0.5rem;

        * {
            font-size: 1em;
            @include for-tablets {
                font-size: 0.9rem;
            }
        }

        *:not(:last-child)::after {
            content:' • ';
        }
    }

    .organization {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__logo {
            height: 16px;
            border-radius: 3px;
        }

        &__url {
            display: flex;
            gap: 0.3rem;
        }
    }

    &__description p {
        font-size: 1em;

        @include for-small-tablets {
            font-size: 0.9em;
        }

        @include for-smartphones {
            font-size: 0.81rem;
        }
    }
}